body {
    font-family: "Montserrat", sans-serif;
}
/* header */
header {
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: center;
    background-color: rgb(19, 21, 24);
}
.box-header {
    width: 75%;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}
.box-header h1 {
    font-size: 35px;
    font-weight: 700;
}
.box-header h1::first-letter {
    color: red;
}
.menu-header {
    display: flex;
}
.menu-header li {
    margin-left: 15px;
    text-transform: uppercase;
    font-weight: 500;
}
.divisor-line {
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgba(255, 0, 3, 1) 0%, rgba(255, 255, 255, 1) 54%);
}

/* main */
/* section principal */
.section-principal {
    width: 100%;
    height: 88vh;
    background: url(../images/line-maker.svg), url(../images/bg-paterns.png);
    background-color: rgba(19, 21, 24, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-principal {
    width: 75%;
    color: white;
}
.principal-nome {
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.principal-nome span {
    font-size: 20px;
    font-weight: 400;
    color: red;
    text-decoration: underline;
    text-decoration-color: white;
}
.principal-nome i::before {
    content: "\003C";
    font-size: 20px;
    font-weight: 400;
}
.principal-nome i::after {
    content: "\003E";
    font-size: 20px;
    font-weight: 400;
}
.principal-developer {
    font-size: 80px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.1);
    font-family: "Saira", sans-serif;
    -webkit-text-stroke: 1px white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-bottom: 40px;
}
.box-local {
    display: flex;
    margin-bottom: 15px;
}
.box-local ul {
    padding: 0px 10px 0px 10px;
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 200;
}
.box-local li:first-child {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.6);
}
.local-linha {
    font-size: 45px;
    font-weight: 200;
}
.box-social {
    display: flex;
}
.social-background {
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.07);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-right: 10px;
}
.box-social img {
    width: 24px;
}
/* section perfil */
.section {
    width: 100%;
    height: 720px;
    background: url(../images/line-maker.svg), url(../images/bg-paterns.png);
    background-color: rgba(19, 21, 24, 1);
}
.section-title {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: #9da1a5;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 30px;
    
}
.section-title::first-letter{
    color: red;
}
.section-title::after {
    content: "";
    display: block;
    width: 5rem;
    height: 3px;
    background: red;
}
.box-perfil {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    color: #9da1a5;
}
.foto-perfil {
    box-sizing: border-box;
    width: 500px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-right: 20px;
    transition: 500ms
}
.foto-perfil:hover {
    transform: scale(1.05);
    border: 1px solid red;
}
.box-perfil-conteudo p {
    margin-bottom: 20px;
}
.perfil-nome {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    color: white;
}
#perfil-tecnologias {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-top: 40px;
}
.box-tecnologias {
    display: inline-flex;
    background: rgba(255, 255, 255, 0.07);
    border: 1px solid red;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 40px;
}
.box-tecnologias li {
    box-sizing: border-box;
    width: 100px;
    height: 90px;
    text-align: center;
    border: 1px solid #75787a;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
    transition: 300ms;
}
.box-tecnologias li:hover {
    transform: scale(1.1);
    border: 1px solid red;
}
.box-tecnologias li:last-child{
    margin: 0;
}
.box-tecnologias img {
    width: 50px;
}
.botao-contato {
    box-sizing: border-box;
    width: 150px;
    display: flex;
    border: 1px solid white;
    padding: 20px;
    text-transform: uppercase;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    transition: 500ms;
}
.botao-contato:hover {
    transform: scale(1.1);
    border: 1px solid red;
    color: red;
}
/* section-projetos */
.box-projetos {
    width: 75%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}
.projeto {
    box-sizing: border-box;
    width: 40%;
    padding: 15px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 500ms;
}
.projeto:hover {
    transform: scale(1.05);
    border: 1px solid red;
    color: red;
}
/* section contato */
.box-contato {
    width: 75%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    color: #75787a;
    justify-content: space-between;
}
.box-info {
    box-sizing: border-box;
    width: 25%;
    height: inherit;
    border: 1px solid #75787a;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.bloco-contato {
    width: 100%;
    text-align: center;
}
.info-title {
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
}
.formulario {
    box-sizing: border-box;
    width: 65%;
    height: inherit;
}
.formulario input, .formulario textarea {
    font-family: inherit;
    resize: none;
    background-color: transparent;
    border: 1px solid #75787a;
    color: #75787a;
    padding: 15px;
}
.formulario-dados {
    display: flex;
    justify-content: space-between;
}
.formulario textarea {
    margin-top: 50px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 50px;
}
.formulario input:focus, .formulario textarea:focus {
    border: none;
    outline: 2px solid red;
}
#form-submit {
    width: 200px;
    border: none;
    padding: 20px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    transition: 500ms;
}
#form-submit:hover {
    transform: scale(1.1);
    background-color: red;
    font-weight: 700;
}
.box-redes {
    width: 75%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 100px;
}


/* footer */
footer {
    width: 100%;
    height: 10vh;
    background-color: rgb(19, 21, 24);
    display: flex;
    justify-content: center;
    align-items: center;
}
.rodape {
    color: white;
    text-align: center;
}
.rodape p {
    margin-bottom: 7px;
}


/* adicionais */
/* titulo animado */
.animado {
    display:flex;
    overflow:hidden;
    white-space:nowrap;
}
.title.dev {
    animation: showup 0s infinite;
}
.title-front {
    animation: reveal 7s infinite;
}
@keyframes showup {
      0% {opacity:0;}
      20% {opacity:1;}
      80% {opacity:1;}
      100% {opacity:0;}
}
@keyframes reveal {
      0% {opacity:0;width:0px;}
      20% {opacity:0;width:0px;}
      30% {opacity:1;width:465px;}
      80% {opacity:1;}
      100% {opacity:0;width:465px;}
}